<div *ngIf="orienteerer">
  
    <h2>{{ orienteerer.firstName }} {{orienteerer.nickname}} {{ orienteerer.lastName | uppercase }} (#{{orienteerer.id}})</h2>
    <div>
      {{orienteerer.nationality}}<br>

      <h3>Attributes</h3>
      <table>
        <tr>
            <td>endurance</td>
            <td>{{orienteerer.endurance}}/20</td>
        </tr>
        <tr>
          <td>strength</td>
          <td>{{orienteerer.strength}}/20</td>
        </tr>
        <tr>
          <td>speed</td>
          <td>{{orienteerer.speed}}/20</td>
        </tr>
        <tr>
          <td>mapReading</td>
          <td>{{orienteerer.mapReading}}/20</td>
        </tr>
        <tr>
          <td>consistency</td>
          <td>{{orienteerer.consistency}}/20</td>
        </tr>
        <tr>
          <td>concentration</td>
          <td>{{orienteerer.concentration}}/20</td>
        </tr>
        <tr>
          <td>routeChoosing</td>
          <td>{{orienteerer.routeChoosing}}/20</td>
        </tr>
        <tr>
          <td>finishing</td>
          <td>{{orienteerer.finishing}}/20</td>
        </tr>
        <tr>
          <td>nightSkills</td>
          <td>{{orienteerer.nightSkills}}/20</td>
        </tr>
      </table>

      <h3>Specialty</h3>
      {{ specialty }}

    </div>
  </div>
<!--
  <button (click)="save()">save</button>
  <button (click)="delete()">delete</button>
  <button (click)="goBack()">go back</button>
-->