<div *ngIf="orienteerer">
  
    <h2>{{ orienteerer.firstName }}  {{ orienteerer.lastName | uppercase }} Details</h2>
    <div>
      <b>id: </b>{{orienteerer.id}}<br>
      <b>nickname:</b> {{orienteerer.nickname}}<br>
      <b>sex: </b>{{orienteerer.sex}}<br>
      <b>nationality: </b>{{orienteerer.nationality}}<br>
      <b>specialty: </b>{{orienteerer.specialty}}<br>
      <p>
        <b>endurance: </b>{{orienteerer.endurance}}/20<br>
        <b>strength: </b>{{orienteerer.strength}}/20<br>
        <b>speed: </b>{{orienteerer.speed}}/20<br>
        <b>mapReading: </b>{{orienteerer.mapReading}}/20<br>
        <b>consistency: </b>{{orienteerer.consistency}}/20<br>
        <b>concentration: </b>{{orienteerer.concentration}}/20<br>
        <b>routeChoosing: </b>{{orienteerer.routeChoosing}}/20<br>
        <b>finishing: </b>{{orienteerer.finishing}}/20<br>
        <b>nightSkills: </b>{{orienteerer.nightSkills}}/20<br>
      </p>

    </div>
  </div>

  <button (click)="goBack()">go back</button>